<div class="content">
  <div class="details">
    <!--顶部步骤条-->
    <div class="details-top">
      <steps></steps>
    </div>
    <!--其余信息-->
    <div class="details-info">
      <p class="info-title flex">
        <span></span>
        订单详情
      </p>
      <div class="info-msg">
        <ul class="flex">
          <li class="row-3">
            订单管理 :
            <span class="info-span">
              123456
            </span>
          </li>
          <li class="row-3">
            订单状态 :
            <span class="info-span state-finish">
              123456
            </span>
          </li>
          <li class="row-3">
            订单管理 :
            <span class="info-span">
              123456
            </span>
          </li>
          <li class="row-1">
            订单管理 :
            <span class="info-span address">
              湖北省大冶市大冶大道
            </span>
          </li>
          <li class="row-1 flex" >
            问题描述 :
            <span class="info-span info-question">
              这个设备有问题啊
            </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="details-info">
      <p class="info-title flex">
        <span></span>
        设备信息
      </p>
      <div class="info-msg">
        <ul class="flex">
          <li class="row-4">
            设备编号 :
            <span class="info-span">13233133</span>
          </li>
          <li class="row-4">
            设备编号 :
            <span class="info-span">13233133</span>
          </li>
          <li class="row-4">
            设备编号 :
            <span class="info-span">13233133</span>
          </li>
          <li class="row-4">
            设备编号 :
            <span class="info-span">13233133</span>
          </li>
          <li class="row-1 img">
            设备图片 :
            <img src="../../../../assets/image/detail-img.png" style="margin-top: 0">
          </li>
        </ul>
      </div>
    </div>
    <div class="details-info info-last">
      <p class="info-title flex">
        <span></span>
        维修员信息
      </p>
      <div class="info-msg">
        <ul class="flex">
          <li class="row-4 headImg">
            <img src="../../../../assets/image/details-header.png">
            李四
          </li>
          <li class="row-4 headImg">
            联系电话 :
            <span class="info-span">1313313313</span>
          </li>
          <li class="row-4 headImg">
            维修类型 :
            <span class="info-span detail-service-fonts">1313313313</span>
          </li>
          <li class="row-4 headImg">
            技术类型 :
            <span class="info-span detail-service-fonts">1313313313</span>
          </li>
        </ul>
        <p class="service-button flex">
          <button class="callHim button">联系他</button>
          <button class="lookDetail button">查看信息</button>
        </p>
      </div>
    </div>
  </div>
</div>
