  <div class="infoSetting">
      <div class="merchant-info">
        基本信息
      </div>
     <div class="info-msg">
       <ul class="flex maintain-infos">
         <li class="row-2 ">
           <span>店铺名称</span>
           杭州第二设备门店
         </li>
         <li class="row-2">
           <span>手机号码</span>
           12332112345
         </li>
         <li class="row-2">
           <span>身份证</span>
           123456789123456789
         </li>
         <li class="row-2">
           <span>邮箱</span>
           123456789@qq.com
         </li>
         <li class="row-2">
           <span>详细地址</span>
           杭州省浙江市西湖区青蓝科技园111号
         </li>
         <li class="row-2">
           <span>经纬度</span>
           123.456789,987.654321
         </li>
         <li class="row-1 img">
           <span>商家照片</span>
           <img src="../../../../assets/image/detail-img.png">
           <img src="../../../../assets/image/detail-img.png">
           <img src="../../../../assets/image/detail-img.png">
         </li>
       </ul>
     </div>
      <div class="merchant-info">
        身份认证
      </div>
    <div class="flex merchant-approve">
      <div class="merchant-identity">
        <img src="../../../../assets/image/front.png">
        <span></span>
      </div>
      <div class="merchant-identity">
        <img src="../../../../assets/image/front.png">
        <span></span>
      </div>
      <div class="merchant-identity">
        <img src="../../../../assets/image/front.png">
        <span></span>
      </div>
    </div>
    <div class="merchant-info" style="margin-bottom: 50px">
        资历认证
    </div>
    <div class="flex merchant-approve">
      <div class="merchant-identity">
        <img src="../../../../assets/image/front.png">
        <span></span>
      </div>
      <div class="merchant-identity">
        <img src="../../../../assets/image/front.png">
        <span></span>
      </div>
    </div>
    <p class="btns">
      <button class="accept">接受申请</button>
      <button class="reject">驳回申请</button>
    </p>
  </div>
