<div class="content">
  <div class="maintain-detail-content " >
    <div class="infoSetting flex">
      <div class="info-basic flex">
        <img src="../../../../assets/image/weixiu-head.png">
        <ul class="maintain-infos">
          <li class="maintain-infos-titles">
            基本信息
          </li>
          <li>
            <span>用户姓名</span>
            徐先生
          </li>
          <li>
            <span>身份证号码</span>
            1233211234567
          </li>
          <li>
            <span>手机号码</span>
            13112345678
          </li>
          <li>
            <span>入驻时间</span>
            2014-01-01
          </li>
          <li>
            <span>技术类型</span>
            发电机组
          </li>
          <li>
            <span>维修类型</span>
            维修保养
          </li>
          <li class="infos-other">
            <span>可服务品牌</span>
            <i>
              伊藤、伊藤、伊藤、伊藤、伊藤、伊藤、伊藤、
              伊藤、伊藤、伊藤、伊藤、伊藤、伊藤、伊藤、
            </i>
          </li>

        </ul>
      </div>
      <div class="info-identity">
        <p class="maintain-infos-titles">身份证信息</p>
        <div class="papers">
          <img src="../../../../assets/image/front.png">
          <span style="background-color:rgba(0,0,0,.2)"></span>
        </div>
        <div class="papers">
          <img src="../../../../assets/image/verso.png">
          <span style="background-color: rgba(0,0,0,.2)"></span>
        </div>
      </div>
    </div>
    <p class="apply-for-btn btns">
      <button class="accept">接受申请</button>
      <button class="reject">驳回申请</button>
    </p>
  </div>
</div>


