
<div class="table-list">
  <ul class="tr-th">
    <li class="th" *ngFor="let item of th"
        [class.small]="item.type==='small'"
        [class.large]="item.type==='large'"
        [class.big-large]="item.type==='big-large'"
        [class.big-large-more]="item.type==='big-large-more'"
    >{{item.name}}</li>
  </ul>
  <ul class="tr-td" *ngFor="let dataItem of dataList">
    <li class="td" *ngFor="let data of dataItem"
        [class.small]="data.type==='small'"
        [class.large]="data.type==='large'"
        [class.big-large]="data.type==='big-large'"
        [class.big-large-more]="data.type==='big-large-more'"
        [class.big-height]="data.heightType==='big-height'"
    >
      <div class="flex html-c" [innerHtml]="data.name" *ngIf="!data.showSwitchButton"></div>
      <div class="flex html-c switchButton" *ngIf="data.showSwitchButton">
        <nz-switch [ngModel]="true"></nz-switch>
      </div>
    </li>

    <!--操作类型-->
    <li class="td" *ngIf="hasOperation">
      <!--终端列表-->
      <div class="operation" *ngIf="operationType==='terminal'">
        <ul>
          <li title="更新" class="update"></li>
          <li title="重启" class="restart"></li>
          <li title="修改" class="edit"></li>
        </ul>
      </div>
      <!--操作-->
      <!--版本列表-->
      <div class="operation" *ngIf="operationType==='version'">

      </div>
      <!--设备列表-->
      <div class="operation" *ngIf="operationType==='device'">

      </div>
      <!--监控订单-->
      <div class="operation" *ngIf="operationType==='monitoring'">

      </div>
      <!--租赁订单-->
      <div class="operation" *ngIf="operationType==='lease'">

      </div>
      <!--交易订单-->
      <div class="operation" *ngIf="operationType==='trade'">

      </div>
      <!--维保订单-->
      <div class="operation" *ngIf="operationType==='maintain'">

      </div>
    </li>
  </ul>
</div>
