
.infos-select{
 display: inline-block;
  margin-left: 21px;
}

.btn-sure button{
  background-color: #ffba35;
}

.btn-sure button:hover{
  background-color: #f7ab12;
  box-shadow: 0 2px 8px rgba(255,186,53,.4);
}

