.maintain-top{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 36px;
}
.maintain-change{
  font-size: 16px;
  color: #999;
  position: relative;
  line-height: 60px;
  margin-right: 36px;
}
.maintain-change:hover{
  color: #ffba35;
  cursor: pointer;
}
.maintain-change.change{
  color: #ffba35;
}
.maintain-change span{
  width: 60px;
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 3px;
  background-color: #ffba35;
}
.maintain-detail-content{
  width: 100%;
  margin-top: 15px;
}
.maintains-title{
  margin-left: 20px;
}
.infoSetting{
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.info-identity,.info-basic{
  width: 50%;
}

.info-basic img{
  width:98px;
  height: 98px;
  margin:0 36px ;
  overflow: hidden;
}
.maintain-infos-titles{
  color: #444;
  font-size: 18px;
  margin-bottom: 24px;
}
.maintain-infos li{
  display: flex;
  color: #444;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.maintain-infos li span{
  color: #666;
  text-align: right;
  width: 70px;
  margin-right: 24px;
}
.infos-other{
  min-height: 60px;
}
.infos-other i{
  font-style: normal;
  min-height: 60px;
  width: 290px;
}
.infos-select{
 display: inline-block;
}

.papers{
  width: 390px;
  height: 245px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.papers span{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 390px;
  height: 245px;
  top: 0;
  left:0;
}
.shade{
  width: 174px;
  height: 142px;
  margin: 50px 94px;
}
.btn-sure{
  margin: 40px 0;
  text-align: center;
}
.btn-sure button{
  width: 120px;
  height: 32px;
  font-size: 14px;
  border-radius: 16px;
  background-color: #ffba35;
  border: 1px solid transparent;
  outline: none;
  color: #fff;
}
.btn-sure button:hover{
  background-color: #f7ab12;
  box-shadow: 0 2px 8px rgba(255,186,53,.4);
}

