<div class="content" >
  <div class="details">
    <div class="details-info">
      <p class="info-title flex">
        <span></span>
        平台信息
      </p>
      <div class="info-msg terrace-menu" >
        <ul class="flex">
          <li class="row-1 ">
            <span class=" terrace-span">官方网站 : </span>
            <input type="text" class="terrace-input">
          </li>
          <li class="row-1 ">
            <span class=" terrace-span">客服电话 : </span>
            <input type="text" class="terrace-input">
          </li>
          <li class="row-1 ">
            <span class=" terrace-span">QQ : </span>
            <input type="text" class="terrace-input">
          </li>
          <li class="row-1 ">
            <span class=" terrace-span">合作邮箱 : </span>
            <input type="text" class="terrace-input">
          </li>
          <li class="row-1 ">
            <span class=" terrace-span">公司地址 : </span>
            <input type="text" class="terrace-input" style="width:32.14%" >
          </li>
          <li class="row-1 ">
            <span class=" terrace-span">简介 : </span>
            <input type="text" class="terrace-input" style="width:64.28%">
          </li>
        </ul>
      </div>


    </div>
    <div class="details-info info-last">
      <p class="info-title flex">
        <span></span>
        合同模板
      </p>
      <div class="flex row-1 contract btns">
          租赁合同模板
          <button class="btn-upload">上传</button>
          <button class="accept">下载</button>
          <span class="upload-time">
            最近上传时间 &nbsp;:&nbsp; 1111/11/11 &nbsp; 11:11:11
          </span>
      </div>
      <div class="flex row-1 contract btns">
        交易合同模板
        <button class="btn-upload">上传</button>
        <button class="accept">下载</button>
        <span class="upload-time">
            最近上传时间 &nbsp;:&nbsp; 1111/11/11 &nbsp; 11:11:11
          </span>
      </div>
    </div>
    <p class="terrace-save row-1 btns">
      <button class="btn-upload">保存</button>
    </p>
  </div>
</div>
