.search-box {
  width: 240px;
  border: 1px solid #e0e0e0;
  display: inline-flex;
  align-items: center;
  height: 31px;
  position: relative;
  box-sizing: content-box;
  border-radius: 2px;
  cursor: pointer;
}


.search-box input {
  outline: none;
  border: none;
  width: 240px;
  height: inherit;
  font-size: 14px;
  color: #444444;
  padding-left: 8px;
}

.search-box input:hover,
.search-box input:focus{
  color: #444;
  line-height: 1.5;
  border:1px solid #ccc;
}


.search-box input::placeholder {
  color: #cccccc;
  font-size: 14px;
}

.search-box .search-img {
  width: 18px;
  height: 16px;
  position: absolute;
  right: 12px;
  cursor: pointer;
  background: url(../../../assets/image/search.png) no-repeat;
}

.search-box .search-img:hover {
  background: url(../../../assets/image/search-change.png) no-repeat;

}
