.switch-item{
  height: 32px;
  width: 204px;
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  line-height: 32px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch-item ul .item{
  font-size: 14px;
  display: inline-block;
  width: 102px;
  text-align: center;
  position: absolute;
  cursor: pointer;
  color:#666;
  /*box-sizing: content-box;*/
}

.switch-item ul .left-item{
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  left:0;
}
.switch-item ul .right-item{
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  left: 102px;
}


.switch-item ul .item.left-item.active{
  background: #ffba35;
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
  color:#fff;
}
.switch-item ul .item.right-item.active{
  background: #ffba35;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  color:#fff;
}
