<div class="mcContainer">

  <ul class = "mcTab">
    <li [ngClass]="{'mcTab-item__active': current === 1}"
      (click) = "changeTab(1)">经营总汇</li>
    <li [ngClass]="{'mcTab-item__active': current === 2}"
      (click) = "changeTab(2)">信息设置</li>
    <li [ngClass]="{'mcTab-item__active': current === 3}"
      (click) = "changeTab(3)">资质认证</li>
    <li [ngClass]="{'mcTab-item__active': current === 4}"
      (click) = "changeTab(4)">合同</li>
  </ul>

  <div>
    <!-- 经营总汇
    ================================================== -->
    <div *ngIf = "current === 1" class = "mcOne">
      <div class="mcChart">
        <div class="mcChart-item">
          <mc-chart [chart] = "lineChart1"></mc-chart>
        </div>
        <div class="mcChart-item">
          <mc-chart [chart] = "lineChart2"></mc-chart>
        </div>
      </div>

      <div class="mcAssess">
        <div class="mcAssess-container">
          <h3>
            <span></span>
            评价状况
          </h3>
          <ul class="mcAssess-list">
            <li class="mcAssess-item mcAssess-item1">
              <h4 class="mcAssess-title">商店等级：</h4>
              <div>
                <img src="../../../../assets/image/icon-full-star.png" alt="">
                <img src="../../../../assets/image/icon-full-star.png" alt="">
                <img src="../../../../assets/image/icon-star.png" alt="">
              </div>
            </li>
            <li class="mcAssess-item"><h4 class="mcAssess-title">当前分数：</h4><span>98</span></li>
            <li><h4 class="mcAssess-title">租赁总评：</h4><span>120</span></li>
            <li><h4 class="mcAssess-title">租赁好评：</h4><span>118（99.99%）</span></li>
            <li><h4 class="mcAssess-title">租赁中评：</h4><span>2（0.01%）</span></li>
            <li><h4 class="mcAssess-title">租赁差评：</h4><span>2（0.01%）</span></li>
            <li><h4 class="mcAssess-title">交易总评：</h4><span>120</span></li>
            <li><h4 class="mcAssess-title">交易好评：</h4><span>118（99.99%）</span></li>
            <li><h4 class="mcAssess-title">交易中评：</h4><span>2（0.01%）</span></li>
            <li><h4 class="mcAssess-title">交易差评：</h4><span>2（0.01%）</span></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 信息设置
    ================================================== -->
    <div *ngIf = "current === 2" class = "mcTwo">
      <div class="mcTwo-item">
        <h3>基本信息</h3>
        <ul class="mcTwo-content">
          <li>
            <h4>店铺名称</h4><span>杭州第一</span>
          </li>
          <li>
            <h4>店铺编号</h4><span>21345679</span>
          </li>
          <li>
            <h4>店主名称</h4><span>张三</span>
          </li>
          <li>
            <h4>联系方式</h4><span>11111111111</span>
          </li>
          <li>
            <h4>邮箱</h4><span>天堂@110.zn</span>
          </li>
          <li>
            <h4>经纬度</h4><span>119, 119</span>
          </li>
          <li class="mcTwo-noflex">
            <h4>详细地址</h4><span>浙江省杭州市西湖区三墩镇华彩国际</span>
          </li>
          <li class="mcTwo-noflex">
            <h4>商家照片</h4>
            <div >
              <img src="" alt="">
            </div>
          </li>
        </ul>
      </div>

      <div class="mcTwo-item mcTwo-item2">
        <h3>账号信息</h3>
        <ul class="mcTwo-content mcTwo-content2">
          <li>
            <h4>入住时间</h4><span>杭州第一</span>
          </li>
          <li class="mcTwo-status">
            <h4>账号状态</h4>
            <div class="mcSelect">
              <button (click) = "changeSelect()">启用
                <span [ngClass] = "{ 'mcSelect-btn__active': isSelect === true}"></span>
              </button>
              <ul *ngIf = "isSelect">
                <li>1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <div>
        <button class="mcBtn-save">确认</button>
      </div>
    </div>

    <!-- 资质认证
    ================================================== -->
    <div *ngIf = "current === 3" class = "mcThree">
      <div class="mcThree-item mcThree-item1">
        <h3>身份认证</h3>
        <ul class = "mcThree-content1">
          <li><h4>店主姓名</h4><div>张三</div></li>
          <li><h4>身份证号码</h4><div>33032616991564511</div></li>
        </ul>
        <ul class = "mcThree-content">
          <li>
            <img src="../../../../assets/image/front.png" alt="">
            <div class="mcMask">
              <div class="mcMask-shade"></div>
              <div class="mcMask-body">
                <img src="../../../../assets/image/shade.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <img src="../../../../assets/image/verso.png" alt="">
            <div class="mcMask">
              <div class="mcMask-shade"></div>
              <div class="mcMask-body mcMask-update">
                <!-- <img src="../../../../assets/image/shade.png" alt=""> -->
                <p>点击上传图片</p>
              </div>
            </div>
          </li>
          <li>
            <img src="../../../../assets/image/front.png" alt="">
            <div class="mcMask">
              <div class="mcMask-shade"></div>
              <div class="mcMask-body">
                <img src="../../../../assets/image/shade.png" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="mcThree-item mcThree-item2">
        <h3>资质认证</h3>
        <ul class = "mcThree-content">
          <li>
            <img src="../../../../assets/image/front.png" alt="">
            <div class="mcMask">
              <div class="mcMask-shade"></div>
              <div class="mcMask-body">
                <img src="../../../../assets/image/shade.png" alt="">
              </div>
            </div>
          </li>
          <li>
            <img src="../../../../assets/image/front.png" alt="">
            <div class="mcMask">
              <div class="mcMask-shade"></div>
              <div class="mcMask-body">
                <img src="../../../../assets/image/shade.png" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button class="mcBtn-save">保存</button>
    </div>

    <!-- 合同
    ================================================== -->
    <div *ngIf = "current === 4" class = "mcFour">
      <div class="mcFour-item" style="margin-bottom: 36px;">
        <h3>入住合同</h3>
        <div class="mcFour-content">
          <div>
            <div class="mcFour-hetong">
              <img src="../../../../assets/image/hetong.png" alt="">

              <div class="mcFour-shade"></div>
              <div class="mcFour-hover">
                <p class="mcFour-btn">修改合同</p>
                <p class="mcFour-btn">删除合同</p>
                <p class="mcFour-date">2017.10.13</p>
                <p class="mcFour-date">15:15:00</p>
              </div>
            </div>

            <p class="mcFour-shuoming">(注：商家入住合同，这是已签订的，榜上得到的合同，大概多少)</p>
          </div>

          <div class="mcFour-update">
            <div class="mcFour-update__hover">
              <div></div>
              <p>上传合同</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mcFour-item mcFour-item2">
        <h3>监控服务合同</h3>

        <div class="mcFour-content">
          <div>
            <div class="mcFour-hetong">
              <img src="../../../../assets/image/hetong.png" alt="">

              <!-- <div class="mcFour-shade"></div>
              <div class="mcFour-hover">
                <p class="mcFour-btn">修改合同</p>
                <p class="mcFour-btn">删除合同</p>
                <p class="mcFour-date">2017.10.13</p>
                <p class="mcFour-date">15:15:00</p>
              </div> -->
            </div>

            <p class="mcFour-shuoming">(注：4组饭店记者是你发的来看)</p>
          </div>

          <div>
            <div class="mcFour-hetong">
              <img src="../../../../assets/image/hetong.png" alt="">

              <!-- <div class="mcFour-shade"></div>
              <div class="mcFour-hover">
                <p class="mcFour-btn">修改合同</p>
                <p class="mcFour-btn">删除合同</p>
                <p class="mcFour-date">2017.10.13</p>
                <p class="mcFour-date">15:15:00</p>
              </div> -->
            </div>

            <p class="mcFour-shuoming">(注：4组饭店记者是你发的来看)</p>
          </div>

          <div class="mcFour-update">
            <div class="mcFour-update__hover">
              <div></div>
              <p>上传合同</p>
            </div>
          </div>
        </div>
      </div>

      <button class="mcBtn-save">保存</button>
    </div>
  </div>

</div>
