.mcContainer {
  border: 1px solid #e0e0e0;
  background-color: #fff;
}

.mcTab {
  display: flex;
  padding-left: 36px;
  border-bottom: 1px solid #e0e0e0;
}

.mcTab li {
  height: 60px;
  margin-right: 36px;
  font-size: 16px;
  line-height: 60px;
  color: #999;
  cursor: pointer;
}
.mcTab .mcTab-item__active {
  border-bottom: 3px solid #ffba35;
  color: #ffba35;
}

/* 第一个Tab开始
 * ===============================
   =============================== */

.mcChart {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 40px 36px;
}
.mcChart-item {
  flex: 1 1 calc(50% - 20px);
  width: calc(50% - 20px);
  min-height: 320px;
  padding-top: 15px;
  padding-bottom: 20px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.mcChart-item:nth-child(odd) {
  margin-right: 40px;
}

.mcAssess {
  padding: 0 14px;
}
.mcAssess-container {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.mcAssess h3{
  padding: 24px 0 14px;
  font-size: 18px;
  color: #444;
}
.mcAssess-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 26px;
}
.mcAssess-list li {
  display: flex;
  flex: 1 1 25%;
  margin: 10px 0;
  font-size: 14px;
}
.mcAssess-list .mcAssess-item:nth-child(1) {
  flex: 1 1 25%;
  width: 25%;
}
.mcAssess-list .mcAssess-item:nth-child(2) {
  flex: 1 1 75%;
  width: 75%;
}
.mcAssess-list li .mcAssess-title {
  color: #444;
}
.mcAssess-list li h4 {
  color: #999;
}
.mcAssess-item1 {
  display: flex;
}
.mcAssess-item1 img {
  width: 12px;
  height: 12px;
}

/* 第二个Tab开始
 * ===============================
   =============================== */

.mcTwo {
  padding-top: 24px;
  padding-left: 36px;
}
.mcTwo h3{
  font-size: 18px;
  color: #444;
  margin-bottom: 24px;
}

.mcTwo-content{
  display: flex;
  flex-wrap: wrap;
}
.mcTwo-content li{
  display: flex;
  flex: 1 1 50%;
  margin: 10px 0;
  font-size: 14px;
  line-height: 1;
}
.mcTwo-content li:first-child {
  margin-top: 0;
}
.mcTwo-content li:nth-child(2) {
  margin-top: 0;
}
.mcTwo-content .mcTwo-noflex {
  flex: 1 1 100%;
}
.mcTwo-content li h4{
  width: 70px;
  margin-right: 26px;
  text-align: right;
}
.mcTwo-content li span{
}

.mcTwo-item {
  margin-bottom: 20px;
}
.mcTwo-item2 {
  margin-bottom: 198px;
}
.mcTwo-item2 h3{
  margin-bottom: 14px;
}
.mcTwo-content2 li{
  line-height: 2
}
.mcTwo-status div{

}
.mcSelect {
  position: relative;
}
.mcSelect button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 192px;
  padding: 0 11px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  outline: none;
}
.mcSelect button span {
  display: inline-block;
  width: 12px;
  height: 7px;
  background: url(../../../../assets/image/arrow-down.png) no-repeat;
}
.mcSelect button .mcSelect-btn__active {
  background: url(../../../../assets/image/arrow-up.png) no-repeat;
}
.mcSelect ul {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-top: none;
}
.mcSelect li {
  height: 42px;
  margin: 0;
  padding-left: 12px;
  font-size: 14px;
  line-height: 42px;
  color: #444;
  cursor: pointer;
}
.mcSelect li:hover {
  background-color: #F6F6F6;
}

/* 第三个Tab开始
 * ===============================
   =============================== */
.mcThree {
  padding-top: 24px;
  padding-left: 36px;
}
.mcThree h3{
  font-size: 18px;
  color: #444;
  margin-bottom: 9px;
}
.mcThree-item1 {
  margin-bottom: 24px;
}
.mcThree-content1 {
  display: flex;
  margin-bottom: 24px;
}
.mcThree-content1 li {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  height: 30px;
}
.mcThree-content1 li h4 {
  width: 70px;
  margin-right: 26px;
  text-align: right;
}
.mcThree-content1 li div {
  width: 150px;
  height: 30px;
  padding-left: 12px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
}
.mcThree-content {
  display: flex;
}
.mcThree-content li {
  position: relative;
  width: 200px;
  height: 126px;
  margin-right: 20px;
}
.mcThree-content .mcMask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mcThree-content .mcMask-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.mcThree-content .mcMask-body {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 80px;

}
.mcMask-update p {
  color: #fff;
  text-align: center;
}
.mcThree-item2 {
  margin-bottom: 167px;
}

/* 第四个Tab开始
 * ===============================
   =============================== */
.mcFour {
  padding-top: 24px;
  padding-left: 36px;
}

.mcFour h3 {
  font-size: 18px;
  color: #444;
  margin-bottom: 24px;
}
.mcFour-item2 {
  margin-bottom: 64px;
}
.mcFour-content {
  display: flex;
}

/* 如何合同、监控服务合同合同样式
   =============================== */
.mcFour-hetong {
  position: relative;
  width: 140px;
  height: 170px;
  margin-right: 28px;
}
.mcFour-hetong:hover .mcFour-hover{
  display: block;
}
.mcFour-hetong:hover .mcFour-shade{
  display: block;
}
.mcFour-hetong img {
  width: 100%;
  height: 100%;
}
.mcFour-shade {
  display: none;
  position: absolute;
  top: 0;
  right: 12px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.mcFour-hover {
  display: none;
  position: absolute;
  top: 44px;
  left: 14px;
}
.mcFour-hover p {
  width: 100px;
  text-align: center;
}
.mcFour-hover p:nth-child(1) {
  margin-bottom: 10px;
}
.mcFour-hover p:nth-child(2) {
  margin-bottom: 12px;
}
.mcFour-btn {
  height: 32px;
  border: 1px solid #ffba35;
  font-size: 16px;
  line-height: 32px;
  color: #ffba35;
  border-radius: 2px;
  cursor: pointer;
}
.mcFour-btn:hover {
  background-color: #ffba35;
  color: #444;
}
.mcFour-date {
  font-size: 12px;
  color: #ffba35;
  line-height: 16px;
}
.mcFour-shuoming {
  width: 140px;
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  line-height: 20px;
}

/* 如何合同、监控服务合同 上传合同样式
   =============================== */
.mcFour-update {
  position: relative;
  width: 140px;
  height: 170px;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  color: #444;
  background: #f5f5f5;
  border-radius: 2px;
  cursor: pointer;
}
.mcFour-update__hover {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
}
.mcFour-update__hover div{
  margin: 0 auto;
  width: 42px;
  height: 42px;
  margin-bottom: 10px;
  background: url(../../../../assets/image/icon-hetong.png) no-repeat center center;
}
.mcFour-update:hover {
  background-color: #fff;
}
.mcFour-update:hover .mcFour-update__hover div{
  background: url(../../../../assets/image/icon-hetong-hover.png) no-repeat center center;
}

/* Button
 * ===============================
   =============================== */
.mcBtn-save {
  display: block;
  width: 120px;
  height: 32px;
  margin: 0 auto 40px;
  border: none;
  font-size: 14px;
  color: #fff;
  background-color: #ffba35;
  border-radius: 16px;
  outline: none;
}
.mcBtn-save:hover {
  background-color: #f7ab12;
  box-shadow: 0 2px 8px rgba(255, 186, 53, .4)
}
