<div class="page-list">
  <div class="content-wrap">
    <div class="top-content">
      <search-box [placeholder]="searchTip" (searchWord)="search($event)" style="margin-left: 0"></search-box>
      <div class="uploadPump fr">
        <button class="l-btn-p" (click)="upload()">上传PUMP表</button>
      </div>
    </div>
    <div class="table-list">
      <table-list [th]="th" [dataList]="dataList" [operationType]="operationType"
                  (delete)="deleteSure()"
      ></table-list>
    </div>
    <div class="footer-div-page">
      <div-page (getCurrentPage)="switchPage($event)"></div-page>
    </div>
  </div>
</div>

<!--modal模板 删除确认 -->
<ng-template #deleteSureModal>
  <div class="deleteSure">
    <div class="delete-version">
      <div class="word-tip">
        <span>删除版本</span>
        <span class="color-primary">V2.035.zip</span>
      </div>
      <div class="footer center">
        <button class="l-btn-p" (click)="delete()">删除</button>
        <button class="l-btn-w" (click)="cancelDelete()">取消</button>
      </div>
    </div>
  </div>
</ng-template>
<!--modal模板 上传pump表 -->
<ng-template #uploadModal>
  <div class="l-modal-box">
    <div class="l-modal-title">
      上传PUMP表
      <!--模态窗口关闭按钮-->
      <span class="modal-close-btn" (click)="cancelDelete()">
      </span>
    </div>
    <div class="l-modal-body">
      <p>版本文件</p>
      <p class="p-upload-file"><span style="color: #ffba35">上传文件</span>（zip）</p>
      <div class="progress">
        <div class="line">
          <div class="bg" [style.width.%]="60"></div>
        </div>
        <span class="value">60%</span>
        <span class="delete-file"></span>
      </div>
      <div class="big-input">
        <label for="remark">备注</label>
        <div class="input l-input">
          <input type="text" id="remark" placeholder="无">
        </div>
      </div>
      <div class="footer">
        <button class="l-btn-p">保存</button>
        <button class="l-btn-w" (click)="cancelDelete()">取消</button>
      </div>
    </div>
  </div>
</ng-template>

<sure-modal [options]="sureOption"></sure-modal>
