/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: "Microsoft YaHei";
}

/**公共样式**/
.fl {
  float: left;
}

.fr {
  float: right;
}

/**左侧icon的样式**/
.icons {
  display: inline-block;
  width: 20px;
  height: 20px;
}

a:hover, a:focus, a:active, a:visited {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**
  * Author : 李文超
  * Email : 1159849884@qq.com
  * Time : 2017/10/13 14:04
  * Description :
  **/

.switch-list{
  margin-top: -20px;
  padding-bottom: 20px;
}

.page-list {
  height: inherit;
  position: relative;
  width: 100%;
  min-height: 90%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;

}

.page-list .content-wrap {
  padding: 20px 20px;
  height: inherit;
}

.top-content down-select:not(:first-child),
.top-content search-box {
  margin-left: 16px;
}

.table-list {
  margin-top: 20px;
}

.footer-div-page {
  text-align: right;
  margin-top: 20px;

}


.tr-td .td .html-c .img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}
.tr-td .td .html-c .space-wrap{
  word-break : break-all;
  overflow:hidden;
  height: inherit;
  width: inherit;
  line-height: 1.3;
  display: flex;
  align-items: center;
}
.tr-td .td .html-c .ant-switch-checked{
  background: #ffba35;
  outline: none;
}

.tr-td .td .html-c .ant-switch:focus:hover {
  box-shadow: none;
}

.tr-td .td .big-img {
  width: 48px;
  height: 48px;
}

.tr-td .td .name {
  margin-left: 20px;
}

.color-primary{
  color:#ffba35;
}

.l-btn-p{
  background: #ffba35;
  font-size: 14px;
  color:#fff;
  width: 120px;
  height: 32px;
  border-radius: 16px;
  border: 0;
  outline: none;
}

.l-btn-p:hover{
  background:#f5371d;
  box-shadow: 2px 2px 8px rgba(255,77,53,.4);
}
.l-btn-w{
  border:1px solid #e0e0e0;
  background: #fff;
  font-size: 14px;
  color:#444;
  width: 120px;
  height: 32px;
  border-radius: 16px;
  outline: none;
}
.l-btn-w:hover{
  background: #cccccc;
  box-shadow: 2px 2px 8px rgba(64,64,647,.16);
}

.l-modal-box{
  border-radius: 10px;
  overflow: hidden;
}

.l-modal-title{
  height: 48px;
  line-height: 48px;
  background-color: #ffba35;
  color: #fff;
  font-size: 16px;
  padding-left: 20px;
  position: relative;
}
.modal-close-btn{
  position: absolute;
  width: 11px;
  height: 11px;
  background: url("assets/image/modal-colse.png") no-repeat;
  right: 20px;
  top: 19px;
  cursor: pointer;
}
.modal-close-btn:hover{
  background: url("assets/image/modal-colse-hover.png") no-repeat;
}
.l-modal-body{
  margin-top: 24px;
  padding: 0 20px 30px 20px;
}

.l-modal-body p{
  font-size: 14px;
  color: #444;
}

/*
 长input
*/
.big-input{
  width: 100%;
}

.big-input label,
.small-input label
{
  display: block;
  font-size: 14px;
  color: #444;
  margin-bottom: 12px;
  cursor: pointer;
  width: 90px;
}

.big-input .input,
.small-input .input
{
  width: 100%;
  border:1px solid #e0e0e0;
  height: 32px;
  box-sizing: content-box;
}
.big-input .input input,
.small-input .input input
{
  outline: none;
  border: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.5;
  height: 32px;
  padding-left: 12px;
}

.red-star{
  color:red;
  margin-right: 5px;
}
/*
  短input
*/

.input-box:not(:first-child){
  margin-top: 16px;
}

.input-box .small-input:first-child{
  margin-right: 16px;
}

.small-input{
  width: 190px;
  height: 32px;
  display: inline-block;
}

.l-input:hover,
.l-input:focus,
.l-input:active
{
  color: #444;
  line-height: 1.5;
}
.l-input input:hover,.l-input input:focus{
  color: #444;
  line-height: 1.5;
  border:1px solid #ccc;
}

.l-input input::placeholder{
  font-size: 14px;
  color: #cccccc;
}

.center{
  text-align: center;
}


/*ant-design样式修改*/
.ant-modal-content{
  border-radius: 10px!important;
}


.ant-modal-body{
  padding: 0 !important;
}

.time-input .ant-input{
   padding: 4px 24px !important;
  height: 32px !important;
}
.time-input .ant-input:hover,
.time-input .ant-input:focus{
  border:1px solid #ccc !important;
}


.version-upload-modal-center .ant-modal{
   top: 40%;
   margin-top: -201px;
}
.version-delete-modal-center .ant-modal{
   top: 40%;
   margin-top: -142px;
}
.terminal-edit-modal-center .ant-modal{
  top: 50%;
  margin-top: -340px;
}

/*李文超 结束*/
.flex {
  display: flex;
}
/***************************分界线******************************/

/*
  徐
  详情页基本样式
*/
/*列的样式*/
.info-msg ul li.row-4 {
  width: 25%;
}

.info-msg ul li.row-3 {
  width: 31%;
}

.info-msg ul li.row-2 {
  width: 45%;
}

.info-msg ul li.row-1 {
  width: 100%;
}

.info-msg ul li.row-other {
  width: 18%;
}

/*content*/
.content{
  width: 100%;
  min-height: 90%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
}

/*详情公共样式*/
.details {
  width: 100%;
}

.details-info {
  width: 100%;
  padding: 0 20px 25px;
  border-bottom: 1px solid #e0e0e0;
}

/**标题**/
.info-title {
  width: 100%;
  margin: 24px 0 18px 0;
  font-size: 18px;
  color: #444;
}

/**小圆圈**/
.info-title span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffba35;
  overflow: hidden;
  margin: 10px 10px 0;
}

.info-msg {
  width: 100%;
  padding-left: 28px;
}

.info-msg ul {
  width: 100%;
  flex-wrap: wrap;
}

.info-msg ul li {
  height: 30px;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 4px;
  display: flex;
}

.info-span {
  color: #999;
  margin-left: 10px;
  font-size: 14px;
}

.info-msg ul li.img {
  height: 112px;
}

.info-msg ul li.img img {
  width: 150px;
  height: 112px;
  margin: 10px 10px 0;
  vertical-align: text-top;
}

/**箭头**/
.arrows {
  color: #ff4d35;
}

/**维修员头像**/
.info-msg ul li.headImg {
  height: 68px;
  line-height: 68px;
}

.headImg img {
  width: 68px;
  height: 68px;
  margin-right: 16px;
  vertical-align: middle;
}

.detail-service-fonts {
  color: #ffba35;
}

/**按钮**/
.service-button {
  margin-left: 88px;
}

.button {
  width: 92px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ffba35;
  text-align: center;
  line-height: 32px;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  color: #ffba35;
}

.button:hover {
  background-color: #ffba35;
  color: #fff;
}

.callHim {
  margin-right: 16px;
}

.info-last {
  border-bottom: none;
}


/**维修员信息**/
.maintain-detail-content{
  width: 100%;
  margin-top: 15px;
}

.info-basic>img{
  width:98px;
  height: 98px;
  margin:0 36px ;
  overflow: hidden;
}
.infoSetting{
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.info-identity,.info-basic{
  width: 50%;
}
.maintain-infos-titles{
  color: #444;
  font-size: 18px;
  margin-bottom: 24px;
}
.maintain-infos li{
  display: flex;
  color: #444;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.maintain-infos li>span{
  color: #666;
  text-align: right;
  width: 70px;
  margin-right: 24px;
}
.infos-other{
  min-height: 60px;
}
.infos-other i{
  font-style: normal;
  min-height: 60px;
  width: 290px;
}
/**身份证验证**/
.papers{
  width: 390px;
  height: 245px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.papers span{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 390px;
  height: 245px;
  top: 0;
  left:0;
}

.shade{
  width: 174px;
  height: 142px;
  margin: 50px 94px;
}

.btns{
  margin: 40px 0;
  text-align: center;
}
.btns button{
  width: 120px;
  height: 34px;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid transparent;
  outline: none;
  color: #fff;
}

/***一些特别的申请按钮***/
/**申请按钮**/
button:hover{
  cursor: pointer;
}
.accept{
  background-color: #00b64f;
  margin-right: 16px;
}
.accept:hover{
  background-color: #00a347;
  box-shadow: 0 2px 8px rgba(0,182,79,.4);
}
.reject{
  background-color: #ff4d35;
}
.reject:hover{
  background-color: #f5371d;
  box-shadow: 0 2px 8px rgba(255,77,53,.4);
}

/**设备详情的公共部分**/

.maintain-top{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  padding-left: 36px;
}
.maintain-change{
  font-size: 16px;
  color: #999;
  position: relative;
  line-height: 60px;
  margin-right: 36px;
}
.maintain-change:hover{
  color: #ffba35;
  cursor: pointer;
}
.maintain-change.change{
  color: #ffba35;
}
.maintain-change span{
  width: 60px;
  position: absolute;
  left: 2px;
  bottom: 0;
  height: 3px;
  background-color: #ffba35;
}


/**********分割线************/
