/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  text-decoration: none!important;
  list-style: none;
  box-sizing: border-box;
}
html{
  font-family: "Microsoft YaHei";
}
/**公共样式**/
.fl{
  float: left;
}
.fr{
  float: right;
}
/**左侧icon的样式**/
.icons{
  display: inline-block;
  width: 20px;
  height: 20px;
}
a:hover,a:focus,a:active,a:visited{
  text-decoration: none !important;
}

img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**
  * Author : 李文超
  * Email : 1159849884@qq.com
  * Time : 2017/10/13 14:04
  * Description :
  **/
.page-list{
  height: inherit;
  position: relative;
}

.content-wrap{
  padding:20px 20px;
  height: inherit;
}

.top-content down-select:not(:first-child),
.top-content search-box{
  margin-left: 16px;
}

.table-list{
  margin-top: 20px;
}

.footer-div-page{
  text-align: right;
  margin-top: 20px;

}
/*李文超 结束*/
.flex{
  display: flex;
}
/***************************分界线******************************/
/*
  徐
  详情页基本样式
*/
/*列的样式*/
.info-msg ul li.row-4{
  width: 25%;
}
.info-msg ul li.row-3{
  width: 29%;
}
.info-msg ul li.row-2{
  width: 45%;
}
.info-msg ul li.row-1{
  width: 100%;
}
.info-msg ul li.row-other{
  width: 18%;
}
/*详情公共样式*/
.details{
  width: 100%;
}
.details-info{
  width: 100%;
  padding: 0 20px 25px;
  border-bottom: 1px solid #e0e0e0;
}
/**标题**/
.info-title{
  width: 100%;
  margin: 24px 0 18px 0 ;
  font-size: 18px;
  color: #444;
}
/**小圆圈**/
.info-title span{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffba35;
  overflow: hidden;
  margin: 10px 10px 0;
}
.info-msg{
  width: 100%;
  padding-left: 28px;
}
.info-msg ul{
  width: 100%;
  flex-wrap: wrap;
}
.info-msg ul li{
  height: 30px;
  font-size: 14px;
  line-height: 32px;
  margin-bottom: 12px;
}
.info-span{
  color: #999;
  margin-left: 10px;
  font-size: 14px;
}
.info-msg ul li.img{
  height: 112px;
}

.info-msg ul li.img img{
  width: 150px;
  height: 112px;
  margin-left: 10px;
  vertical-align: text-top;
}
/**箭头**/
.arrows{
  color: #ff4d35;
}
/**维修员头像**/
.info-msg ul li.headImg{
  height: 68px;
  line-height: 68px;
}
.headImg img{
  width: 68px;
  height: 68px;
  margin-right: 16px;
  vertical-align: middle;
}
.detail-service-fonts{
  color: #ffba35;
}
/**按钮**/
.service-button{
  margin-left: 88px;
}
.button{
  width: 92px;
  height: 32px;
  border-radius: 16px;
  border: 1px solid #ffba35;
  text-align: center;
  line-height: 32px;
  outline: none;
  background-color: #fff;
  font-size: 14px;
  color: #ffba35;
}
.button:hover{
  background-color: #ffba35;
  color: #fff;
}
.callHim{
  margin-right: 16px;
}
.info-last{
  border-bottom: none;
}

/**维修员信息**/
.maintain-detail-content{
  width: 100%;
  margin-top: 15px;
}
.maintains-title{
  margin-left: 20px;
}
.info-basic>img{
  width:98px;
  height: 98px;
  margin:0 36px ;
  overflow: hidden;
}
.infoSetting{
  width: 100%;
  margin-top: 40px;
  position: relative;
}
.info-identity,.info-basic{
  width: 50%;
}
.maintain-infos-titles{
  color: #444;
  font-size: 18px;
  margin-bottom: 24px;
}
.maintain-infos li{
  display: flex;
  color: #444;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}
.maintain-infos li>span{
  color: #666;
  text-align: right;
  width: 70px;
  margin-right: 24px;
}
.infos-other{
  min-height: 60px;
}
.infos-other i{
  font-style: normal;
  min-height: 60px;
  width: 290px;
}
/**身份证验证**/
.papers{
  width: 390px;
  height: 245px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.papers span{
  background-color: rgba(0,0,0,.5);
  position: absolute;
  width: 390px;
  height: 245px;
  top: 0;
  left:0;
}
.btns{
  margin: 40px 0;
  text-align: center;
}
.btns button{
  width: 120px;
  height: 34px;
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid transparent;
  outline: none;
  color: #fff;
}
/**********分割线************/
